<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="card filter-wrap">
      <div class="card-body">
        <div class="card-title">
          <h4>
            Filters
          </h4>
        </div>
        <div class="mb-2 text-center">
          <div class="">
            <span class="badge badge-primary" (click)="clearFilters('years')" *ngIf="filterData.selected.year != ''">
              {{filterData.selected.year}} <i class="close-icon">x</i></span>
            <span class="badge badge-primary text-capitalize" (click)="clearFilters('launch')"
              *ngIf="filterData.selected.launch != null">
              Launch {{filterData.selected.launch}} <i class="close-icon">x</i></span>
            <span class="badge badge-primary text-capitalize" (click)="clearFilters('landing')"
              *ngIf="filterData.selected.landing != null">
              Landing {{filterData.selected.landing}}
              <i class="close-icon">x</i></span>
            <a class="badge" href="javascript:void(0)" (click)="clearFilters('all')"
              *ngIf="filterData.selected.year != '' || filterData.selected.launch != null || filterData.selected.landing != null">Clear
              All <i class="close-icon">x</i></a>
          </div>
          <h5>
            Launch Year
          </h5>
          <ng-container *ngFor="let item of filterData.years">
            <button class="btn btn-success" [class.active]="filterData.selected.year == item.value"
              (click)="applyFilter('years',item)">{{item?.label}}</button>
          </ng-container>
        </div>
        <div class="mb-2 text-center">
          <h5>
            Successful Launch
          </h5>
          <ng-container *ngFor="let item of filterData.launch">
            <button class="btn btn-success" [class.active]="filterData.selected.launch == item.value"
              (click)="applyFilter('launch',item)">{{item.label}}</button>
          </ng-container>
        </div>
        <div class="mb-2 text-center">
          <h5>
            Successful Landing
          </h5>
          <ng-container *ngFor="let item of filterData.landing">
            <button class="btn btn-success" [class.active]="filterData.selected.landing == item.value"
              (click)="applyFilter('landing',item)">{{item.label}}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-6">
    <div class="row">
      <ng-container *ngFor="let item of spaceXdata">
        <div class="col-lg-3 col-md-3 col-sm-4" *ngIf="isDataLoaded">
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-2">
                <img [src]="item?.links?.mission_patch" class="img-fluid" alt="" srcset="">
              </div>
              <h5 class="card-title">{{item?.mission_name}}</h5>
              <h6>
                Mission Ids
              </h6>
              <ng-container *ngIf="item?.mission_id?.length > 0; else elseTemplate">
                <ul>
                  <li *ngFor="let item of item?.mission_id">
                    <span class="badge badge-primary">{{item}}</span>
                  </li>
                </ul>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="badge badge-default">N.A.</span>
              </ng-template>
              <div class="d-flex justify-content-between">
                <h6>
                  Launch Year :
                </h6>
                <span>
                  {{item?.launch_year || 'N.A.'}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <h6>
                  Successful Launch :
                </h6>
                <span>
                  {{item?.launch_success || 'N.A.'}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <h6>
                  Successful Landing :
                </h6>
                <span>
                  {{item?.land_success || 'N.A.'}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isDataLoaded != true">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <div class="card mb-4">
            <div class="card-body">
              {{isDataLoaded == false ? 'Loading data, please wait...!': 'No records found...!' }}
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
