/* You can add global styles to this file, and also import other style files */


main {
    margin: 20px 0;
}

.filter-wrap {
    position: sticky;
    top     : 40px;

    .btn {
        margin: 5px 5px;
    }

    .badge {

        &.badge-primary {
            font-weight     : 400;
            background-color: #ebf1f3;
            color           : #000;
            border          : 1px solid #ccc;
            padding         : 5px;
            margin          : 5px;
            cursor          : pointer;
        }

        i {
            font-style : normal;
            margin-left: 5px;
            font-size  : 15px;
        }
    }
}